.form-inline{
    display: flex;
}

.navbar{
    background-color: #242853;
}

.logo_1{
    max-width: 10em;
    height: auto;
}

.btn-custom {
    color: white;
    background-color: #242853;
    border-color: white;
    border-radius: 1em;
    border-style: solid;
  }

.btn-custom:hover{
    background-color:white;
    color: #242853;
    border-color: white;
}

.social_icon{
    max-width: 1.5em;
    height: auto;
}