<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form for buyers</title>
</head>
<body>
    <form method="POST" action="/votre-url-de-traitement">

    <div>
        <label for="adoption_name">adoption_name</label>
        <input type="text" id="name" name="user_name">
    </div>
    <div>
        <label for="offered_by">offered_by</label>
        <input type="email" id="mail" name="user_mail">
    </div>
    <div>
    <div>
        <label for="your_dedication	">your_dedication</label>
        <textarea id="msg" name="user_message"></textarea>
    </div>
</form>
    
</body>
</html>