/* Style pour le formulaire */
form {
    width: 80%;
    margin: auto;
    font-family: Montserrat, sans-serif;
    color: white;
    margin-bottom: 3rem;
}

/* Style pour les labels */
label {
    display: block;
    font-weight: bold;
}

/* Style pour la liste déroulante */
select {
    display: block;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Style pour les cases à cocher */
input[type="checkbox"] {
    margin-top: 5px;
    margin-right: 5px;
}

/* Style pour les champs de date */
input[type="date"] {
    display: block;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Style pour l'image de fond */
#space {
    padding:2em;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

.form-check-input:checked {
    background-color: #242853;
    border-color: #242853;
}